h1 {
    color: blanchedalmond;
    text-decoration: line-through;
}

h3 {
    color: brown;
    text-align: left;
    text-decoration: underline;
}

h2 {
    color: greenyellow;
    text-align: center;
    text-decoration: none;
}

button {
    color: lightcoral;
    background-color: red;
}

body {
    background-color: yellowgreen;
}