    div {
    height: 100px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 157, 0);
    text-align: center;
    /* <-------------------------------------rounding the edge of -------------------------------------------------------->*/
    /*border-radius: 200px; */
    /* border-radius: 50%;*/
    /* <-------------------------------------padding-------------------------------------------------------->*/
    /* Padding (space between border & content[i.e div] )-->  defing particlue direction like left , top, bottom , right  */
    /*  padding-right: 25px;*/
    /* padding-top: 25px; */
    /* Padding in same line --> if one value it means all dirction it will same like 25px & if multiple it means top,right,bottom,left*/
    /* padding: 25px;*/
    padding: 1px 2px 3px 4px;
    /* <-------------------------------------margin-------------------------------------------------------->*/
    /* margin  (space between two content[i.e div] like )--> */
    div {
        margin-top: 25px;
        padding: 25px;
    }
    h1 {
        height: 150px;
        width: 500px;
        background-color: brown;
        /* border-width: 2px;
    border-style: dotted;
    border-color: blue;*/
        /* border short hand wrting of border width, style,color in signle line like below */
        border: 2px, solid, pink;
        text-align: center;
    }